<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Bonowi ui</title>
  </head>
  <body>
    <select name="COM port" id="comport">
      
    </select>

    <button id="open-port">
      Open port
    </button>

    <button id="close-port">
      Close port
    </button>

    <select name="mode" id="mode">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

    <button id="button-save">
      Save values
    </button>
  </body>
</html>